<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-menu-button color="primary" slot="start"></ion-menu-button>
    <ion-title>
      Etec de São Vicente
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Navegação de telas</ion-title>
    </ion-toolbar>
  </ion-header>

 
    <!-- <p>Meu primeiro APP feito em Ionic/Angular</p>
    <p>Escola: {{escola}}</p>
    <ion-button (click)="mostrarNome()">Nome do aluno</ion-button>
    <br>
    O nome do aluno é: {{aluno}}
    <ion-input label="N1:" type="number" [(ngModel)]="n1"></ion-input>
    <ion-input label="N2:" type="number" [(ngModel)]="n2"></ion-input>
    <ion-input label="Res:" type="number" [readonly]="true" [(ngModel)]="res"></ion-input>
    <ion-button (click)="somar()">Somar</ion-button>
    <ion-button expand="block" href="/info">Tela Info</ion-button>
    <ion-button expand="block" [routerLink]="['/contatos']">Tela Contatos</ion-button> -->
  <div id="container"> 

  </div>
 
</ion-content>
